<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SGD</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'sgd.png' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="login-container">
    <%= yield %>
  </div>
</body>
</html>
